/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  /* padding-top: 100px; */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Design system */
:root {
  /* Colours */
  --clr-green-500: hsl(158, 36%, 37%);
  --clr-green-700: hsl(158, 42%, 18%);

  --clr-black: hsl(212, 21%, 14%);
  --clr-grey: hsl(228, 12%, 48%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-white: hsl(0, 0%, 100%);

  /* Fonts */
  --font-main: "Montserrat", sans-serif;
  --font-info: "Fraunces", Verdana;

  /* Font sizes */
  --size-xxs: 10px;
  --size-xs: 11px;
  --size-body: 13px;
  --size-xl: 28px;

  /* Spacing */
  --space-50: 12px;
  --space-100: 18px;
  --space-200: 28px;
}

/* Utility classes */

body {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-cream);
  font-size: var(--size-body);
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--clr-grey);
}

.container {
  width: 320px;
  height: auto;
  margin: auto;
  background-color: var(--clr-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.content {
  padding: var(--space-200);
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.mobile-img {
  width: 320px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.desktop-img {
  width: 250px;
  height: auto;
  display: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (min-width: 50rem) {
  .container {
    width: 520px;
    height: auto;
    flex-direction: row;
  }

  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
  }
}

.product-type {
  font-size: var(--size-xxs);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.product-title {
  font-size: var(--size-xl);
  font-family: var(--font-info);
  font-weight: 700;
  color: var(--clr-black);
  line-height: 100%;
}

.prices {
  display: flex;
  align-items: center;
  gap: var(--space-100);
}

.price-new {
  font-size: var(--size-xl);
  font-family: var(--font-info);
  font-weight: 700;
  color: var(--clr-green-500);
}

.price-old {
  font-size: var(--size-xs);
  text-decoration: line-through;
}

.add-to-cart {
  background-color: var(--clr-green-500);
  color: var(--clr-white);
  border: none;
  border-radius: 8px;
  padding: var(--space-50);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-to-cart:hover {
  background: var(--clr-green-700);
}

.cart-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
